<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование (удаление) владельца </title>
</head>
<body>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam, quo! Officia enim architecto tempora, harum ipsa eos distinctio corrupti, quos perspiciatis, aliquid adipisci excepturi magni. Laboriosam unde deserunt id qui?</h1>
    {% for owner in owners %}
        <li>{{owner.username}}</li>
    {% endfor %}
</body>
</html>