<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление кофейни</title>
</head>
<body>
    <form action="" method="post">
        <label for="name">Название кофейни</label>
        <input type="text" id="name" name="name" placeholder="Введите название кофейни" required>,<br>
        
        <label for="schledule">Номер телефона</label>
        <input type="text" id="schledule" name="schledule" placeholder="Введите график работы" required><br>
        <div>
            <select name="owner" >
                {% for i in owners %}
                    <option value="Owner">{{ i.username }} {{ i.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="description">Электронная почта:</label>
        <input type="text" id="description" name="description" placeholder="Описание кофейни " required><br>
      
        
      
        <input type="submit" value="Добавить">
      </form>
</body>
</html>